.tong-csuat {
    color: #8C8C8C; 
    font-weight: bold; 
    text-align: center;
    font-family: 'Open Sans';
    font-size: 18px;
}

.so-tcs {
    color: #219653;
    font-family: 'Oswald';
    font-size: 18px;
}



