<p-toast></p-toast>
<app-loading [isLoading]="isLoading"></app-loading>

<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-12" style="height: 70px;">
    <p class="title">Báo cáo các chỉ tiêu hiệu quả tài chính</p>
  </div>
  <div class="ui-g-6 ui-md-6" style="height: 50px;">
    <p-dropdown [style]="{'color': '#51515','font-family': 'Open Sans',
          'font-style': 'normal',
          'font-weight': '600',
          'font-size': '18px',
          'line-height': '27px',
          'border-top': '1px solid #D8D8D8',
          'border-right': '1px solid #D8D8D8',
          'border-left': '1px solid #D8D8D8',
          'box-sizing': 'border-box',
          'border-radius': '4px',
          'padding-left': '12px',
          'width': '150px',
          'min-width': '150px',
          'position': 'relative',
          'float': 'right'
        }" [options]="lstQuy" (onChange)="onQuyChange($event)" [(ngModel)]="selectedQuy">
    </p-dropdown>
  </div>
  <div class="ui-g-6 ui-md-6" style="height: 5vh; padding-right: 72px !important">
    <p-dropdown [style]="{'color': '#51515','font-family': 'Open Sans',
          'font-style': 'normal',
          'font-weight': '600',
          'font-size': '18px',
          'line-height': '27px',
          'border-top': '1px solid #D8D8D8',
          'border-right': '1px solid #D8D8D8',
          'border-left': '1px solid #D8D8D8',
          'box-sizing': 'border-box',
          'border-radius': '4px',
          'padding-left': '12px',
          'width': '150px',
          'min-width': '150px',
          'position': 'relative',
          'float': 'left'
        }" [options]="lstYear" (onChange)="onYearChange($event)" [(ngModel)]="selectedYear">
    </p-dropdown>
  </div>

  <div class="ui-g-12 ui-md-12">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12">
        <p class="sub-title pl-72">chỉ số ROE (%)</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12">
      <highcharts-chart [Highcharts]="highchartTHKH" [options]="chartOptionTHKH"
        style="width: 100%; height: 30vh; display: block; padding-right: 72px;">
      </highcharts-chart>
    </div>
  </div>

  <div class="ui-g-12 ui-md-12">
    <div style="width: 100%; padding: 0 72px;">
      <table class="table-font">
        <tr>
          <th>Khối</th>
          <th>Đơn vị</th>
          <th>Nợ phải trả/vốn CSH (lần)</th>
          <th>ROE (%)</th>
          <th>Tỷ lệ đầu tư (%)</th>
          <th>Chi phí PP <span style="text-transform: none">(đ/kWh)</span></th>
          <th>Chi phí T.Tải <span style="text-transform: none">(đ/kWh)</span></th>
          <th>O&M/MW</th>
        </tr>

        <tr>
          <td [attr.rowspan]="4">Khối phát điện</td>
        </tr>
        <ng-container *ngFor="let item of lstData.slice(0,3);let i = index">
          <tr>
            <td>Genco1</td>
            <td>{{item.keHoachNThang}}</td>
            <td>{{item.keHoachCaNam}}</td>
            <td>{{item.thucHienNThang}}</td>
            <td>{{item.soSanhThucHienCungKyNamTruoc}}</td>
            <td>{{item.soSanhKhThangNamTruoc}}</td>
            <td>{{item.soSanhKhNamNamTruoc}}</td>
          </tr>
        </ng-container>

        <tr>
          <td [attr.rowspan]="2">Khối truyền tải điện</td>
        </tr>
        <ng-container *ngFor="let item of lstData.slice(0,1);let i = index">
          <tr>
            <td>NPT</td>
            <td>{{item.keHoachNThang}}</td>
            <td>{{item.keHoachCaNam}}</td>
            <td>{{item.thucHienNThang}}</td>
            <td>{{item.soSanhThucHienCungKyNamTruoc}}</td>
            <td>{{item.soSanhKhThangNamTruoc}}</td>
            <td>{{item.soSanhKhNamNamTruoc}}</td>
          </tr>
        </ng-container>

        <tr>
          <td [attr.rowspan]="6">Khối phân phối điện</td>
        </tr>
        <ng-container *ngFor="let item of lstData.slice(0,5);let i = index">
          <tr>
            <td>CPC</td>
            <td>{{item.keHoachNThang}}</td>
            <td>{{item.keHoachCaNam}}</td>
            <td>{{item.thucHienNThang}}</td>
            <td>{{item.soSanhThucHienCungKyNamTruoc}}</td>
            <td>{{item.soSanhKhThangNamTruoc}}</td>
            <td>{{item.soSanhKhNamNamTruoc}}</td>
          </tr>
        </ng-container>

        <tr>
          <td [attr.rowspan]="2">Công ty mẹ EVN</td>
        </tr>
        <ng-container *ngFor="let item of lstData.slice(0,1);let i = index">
          <tr>
            <td>EVN</td>
            <td>{{item.keHoachNThang}}</td>
            <td>{{item.keHoachCaNam}}</td>
            <td>{{item.thucHienNThang}}</td>
            <td>{{item.soSanhThucHienCungKyNamTruoc}}</td>
            <td>{{item.soSanhKhThangNamTruoc}}</td>
            <td>{{item.soSanhKhNamNamTruoc}}</td>
          </tr>
        </ng-container>

        <tr>
          <td [attr.rowspan]="2">Hợp nhất EVN</td>
        </tr>
        <ng-container *ngFor="let item of lstData.slice(0, 1);let i = index">
          <tr>
            <td>HOP Nhat EVN</td>
            <td>{{item.keHoachNThang}}</td>
            <td>{{item.keHoachCaNam}}</td>
            <td>{{item.thucHienNThang}}</td>
            <td>{{item.soSanhThucHienCungKyNamTruoc}}</td>
            <td>{{item.soSanhKhThangNamTruoc}}</td>
            <td>{{item.soSanhKhNamNamTruoc}}</td>
          </tr>
        </ng-container>

      </table>
    </div>
  </div>
</div>