<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-6">
        <app-nguon-loai-hinh></app-nguon-loai-hinh>
        <app-thuong-pham></app-thuong-pham>
        <app-giai-phong-mb [fonSize]= "11"></app-giai-phong-mb>
    </div>
    <div class="ui-g-12 ui-lg-6">
        <app-nguon-chu-so-huu></app-nguon-chu-so-huu>
        <app-ho-chua></app-ho-chua>
        <app-ban-giao-mb [fonSize]= "11"></app-ban-giao-mb> 
    </div>
    <div class="ui-g-12 ui-lg-12">
        <app-phu-tai></app-phu-tai>
    </div>
    <div class="ui-g-12 ui-lg-12">
        <app-sdung-dien-KHTD></app-sdung-dien-KHTD>
    </div>
    <div class="ui-g-12 ui-lg-12">
       <app-tinh-hinh-sdung-dien-cquan-hchinh></app-tinh-hinh-sdung-dien-cquan-hchinh>
    </div>
</div>